
<% content_for :content do %>
<div class='w-100 text-right'>
<%= link_to "Add new Election", new_elections_path%>
</div>
<table class='table table-bodered table-sm table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Election Date</th>
      <th>Division</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @elections.each do |election| %>
      <tr>
        <td><%= election.name %></td>
        <td><%= election['election_day'] %></td>
        <td><%= election['division'] %></td>
        <td><%= link_to "Show Election", get_elections_path%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>